 #image-form{
     border: 3px solid darkcyan;
     border-radius: 5px;
     background-color: antiquewhite;
     margin-bottom: 30px;
 }
 
 .block-button{
     display: block;
     width: 100%;
     text-align: center;
 }