 #image-form{
     border: 3px solid grey;
     border-radius: 5px;
     background-color: darkgrey;
     margin-bottom: 7px;
 }
 
 .block-button{
     display: block;
     width: 100%;
     text-align: center;
 }

 .delete-icon {
    float: right;
 }