<!-- Navigation -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/trip/search">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!userService.isLoggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!userService.isLoggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/register">Registration</a>
        </li>
        <li *ngIf="userService.isLoggedIn()" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/myphotos">My photos</a>
        </li>
        <li *ngIf="userService.isLoggedIn()" class="nav-item" routerLinkActive="active">
          <a (click)="logout()" class="nav-link" routerLink="/worker/login">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Main -->
  <main role="main" class="container">
    <router-outlet/>
  </main>
  
  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Copyright &#169; 2025 by My Album app</span>
    </div>
  </footer>
  